h1{
	margin-top: 100px;
	text-align: center;
	color: #747474;
	font: 60px/50px "Lucida Grande", Arial, Verdana, sans-serif;   


}
#hepsi {
margin-top: 12%;
margin-left: 25%;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    font-family: sans-serif;
    color: #747474;
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
 	width: 140px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 100px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.radio input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.radio input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.radio input:checked + img + div{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #2b6067;
  background-color: #2b6067;
  color: #ffffff;
}
